<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a class="nav-link" id = '<%=id%>' href="<%=url%>">Posts</a>  
    <script>
      function run() {
        //scroll to post with id
        document.getElementById("<%=id%>").click();
      }
      <%=runIt%>
    </script>
  </body>
</html>
